@import url('https://fonts.googleapis.com/css2?family=Andika&family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Andika, sans-serif;
  font-weight: 300;
  color: #2187a7;
}

/* headings and logo */

h1,
h2 {
  font-family: Playfair Display, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #2187a7;
}

#logo {
  float: left;
  font-size: 280%;
  margin-left: 30px;
}

/* navigation links */

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#menu,
#logo {
  line-height: 75px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #3a3a3a;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;

  position: relative;
}

#cover-text,
#cover-text h2 {
  color: #fff;
}

#hero-image {
  height: 600px;
  width: 100%;
  background: url('../images/hero-image.png') no-repeat center;
}

#cover-text {
  font-size: 120%;
  font-family: Playfair Display, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 400px;
  height: 100px;
  padding: 40px 0;
  padding-left: 10px;
  background-color: rgba(107, 192, 241, 0.7);
  bottom: 70px;
  left: 550px;
  position: absolute;
}


/* about */

#why-lyhnidas {
  text-align: center;
  margin: 20px 0;
  font-size: 280%;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;

}

.grid-item>img {
  width: 100%;
  height: 600px;
}

.grid-item h2 {
  padding: 25% 10% 0;
  font-size: 2.5em;
  text-align: center;
}

.grid-item p {
  text-align: center;
  font-size: 1.5em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

/* what people say */

#testimonials {
  text-align: center;
  margin: 20px 0;
  font-size: 280%;
}

/**** slider ****/

#slider,
#slider-el {
  height: 300px;
}

#slider {
  margin: auto;
  overflow: hidden;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
  position: relative;
  width: 600px;
}

#slider li {
  position: relative;
  width: 600px;
  display: inline-block;
  height: 200px;
}

#slider ul {
  list-style: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 9000px;
  height: 300px;
  transition: left .3s linear;
  margin-left: -25px;
  color: #000;
}

/*** Content ***/

.slider-container {
  margin: 0 auto;
  padding: 10%;
  width: 550px;
  min-height: 280px;
  border-bottom: 1px solid #ccc;
}

.slider-container h3 {
  color: #2187a7;
  font-family: Playfair Display, sans-serif;
  text-align: center;
}

.slider-container p {
  margin: 10px 25px;
  font-family: sans-serif;
  line-height: 150%;
  text-align: justify;
}

.text-quote {
  font-size: 150%;
  font-weight: bold;
  float: right;
}

/*** target hooks ****/

@keyframes slide-animation {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 1;
  }

  20% {
    left: 0px;
    opacity: 1;
  }

  22.5% {
    opacity: 0.6;
  }

  25% {
    left: -600px;
    opacity: 1;
  }

  45% {
    left: -600px;
    opacity: 1;
  }

  47.5% {
    opacity: 0.6;
  }

  50% {
    left: -1200px;
    opacity: 1;
  }

  70% {
    left: -1200px;
    opacity: 1;
  }

  72.5% {
    opacity: 0.6;
  }

  75% {
    left: -1800px;
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  98% {
    left: -1800px;
    opacity: 0;
  }

  100% {
    left: 0px;
    opacity: 0;
  }
}

#slider ul {
  animation: slide-animation 25s infinite;
}

/* use to paused the content on mouse over */

#slider ul:hover {
  animation-play-state: paused;
}

/* footer */

.footer-container {
  display: grid;
  background-color: #2187a7;
  padding: 0 20%;
  margin-top: 40px;
}

.footer-container>.grid-item {
  color: #fff;
  text-align: left;
  padding: 0 35px;
  font-size: 30px;
}

.footer-item1 {
  grid-column: 1;
  grid-row: 1;
  text-transform: uppercase;
}

.footer-item1 a {
  text-decoration: none;
  color: inherit;
}

.footer-item2 {
  grid-column: 2 / span 3;
  grid-row: 1 / span 5;
}

iframe {
  width: 100%;
  height: 300px;
}
.footer-item3 p {
  text-align: left;
  font-size: 70%;
  font-family: Playfair Display, sans-serif;
}

.footer-item4 {
  grid-column: 1;
  grid-row: 3;
}

.footer-item4 p {
  text-align: left;
  font-size: 70%;
  font-family: Playfair Display, sans-serif;
}

.footer-item5 {
  grid-column: 1;
  grid-row: 4;
}

.footer-item5 p {
  text-align: left;
  font-size: 70%;
  font-family: Playfair Display, sans-serif;
}

.footer-item6 {
  grid-column: 1;
  grid-row: 5;
}

.footer-item6 p {
  text-align: left;
  font-size: 70%;
  font-family: Playfair Display, sans-serif;
}

.footer-item7 {
  grid-column: 1 / span 4;
  grid-row: 6;
}

.social-networks {
  text-align: center;
}

.social-networks>li {
  display: inline;
}

.social-networks i {
  font-size: 130%;
  margin: 1%;
  padding: 5%;
  color: #fff;
}


/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

  #menu {
    clear: left;
    float: left;
    margin-bottom: 20px;
    margin-left: 30px;
    line-height: 25px;
    letter-spacing: 0px;
  }
  

  #cover-text {
    left: 0;
  }

  #why-lyhnidas {
  font-size: 200%;
}

.grid-container {
  grid-template-columns: 100%;

}

.content-up{
  margin-top: -50%;

}
.content-down {
  padding-top: 30%;
  margin-bottom: -10%;
}
.item-text {
  padding: 15% 15% 5% 15%;
}

.grid-item>img {
  height: 300px;
}

.grid-item h2 {
  padding: 0 10% 0;
  font-size: 1.5em;
}

.grid-item p {
  font-size: 1em;
  font-weight: 200;
  padding: 0 10% 5%;
}

#testimonials {
  font-size: 200%;
}
.footer-container{
  padding: 0;
}
.footer-container >.grid-item {
  padding: 0 35px;
  font-size: 20px;
}
}

@media screen and (min-width: 950px) and (max-width: 1400px) {
  #cover-text {
    left: 300px;
  }
}

@media screen and (max-width: 400px) {
  .content-up{
    margin-top: -100%;  
  }

  #slider {
    width: 100%;
  }

  .slider-container h3 {
    text-align: left;
  }
  
  
  .slider-container p {
    margin: 0 auto;
    padding: 0 50% 0 0;
    line-height: 100%;
    text-align: left;
  }
  
  .text-quote {
    font-size: 100%;
    float: left;
  }
  iframe {
    padding: 0;
    width: 100%;
    height: 200px;
  }

  .footer-container >.grid-item {
    padding: 0;
    padding-left: 10px;
    font-size: 12px;
  }
  
}



/* Courses */

#courses-list {
  font-size: 120%;
  text-align: center;
  color: #fff;
  font-family: Playfair Display, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 50%;
  height: 100px;
  padding: 50px 0 0;
  padding-left: 10px;
  background-color: rgba(8, 131, 125, 0.7);
  bottom: 200px;
  left: 550px;
  position: absolute;
}

#program-choice {
  width: 30%;
  height: 30%;
  text-align: center;
}

#course-title {
  text-align: center;
  font-size: 120%;
  color: #2187a7;
  font-family: Playfair Display, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 30px;
}

.grid-container-courses {
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 15% 15%;
  gap: 20px;
  background-color: #2196F3;
  padding: 10px;
}
.course-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
#english-program {
  font-size: 120%;
  color: #2187a7;
  background-color: aqua;
  font-family: Playfair Display, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 30px;
}

/* Form */

.form-section {
  clear: right;
  background: url('../images/hero-i.webp');
  background-size: cover;
  background-position: center;
  height: 900px;
}

.signup-form {
  margin: 150px 10% 0 0;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 400px;
  position: absolute;
  right: 10%;
  padding: 30px;
}

.signup-form > h2 {
  color: #fafafa;
  margin-bottom: 20px;
}

.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin:5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text-input:hover {
  border-color: #2187a7;
}

.type-radio {
  text-align: center;
  color: #fff;
  padding: 25px 0 25px 25px;
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #2187a7;
  color: #fafafa;
  display: block;
}

.join-button:hover {
  background-color: #fafafa;
  color: #2187a7;
}